In [25]:
import pandas as pd
import numpy as np

In [26]:
d = {'age': [45, 26, 30, 34, 40, 36, 19, 28, 23, 32], 
     'height': [5, 5.11, 5.6, 5.9, 4.8, 5.8, 5.3, 5.8, 5.5, 5.6],
     'weight': [77, 47, 55, 59, 72, 60, 40, 60, 45, 58]}

df = pd.DataFrame(data=d)

In [27]:
df.head()

   age  height  weight
0   45    5.00      77
1   26    5.11      47
2   30    5.60      55
3   34    5.90      59
4   40    4.80      72

In [28]:
# x = df[['age', 'height']]
# y = df['weight']
x = df.drop('weight', axis=1)
y = df.drop(['age', 'height'], axis=1)

In [29]:
x.head()

   age  height
0   45    5.00
1   26    5.11
2   30    5.60
3   34    5.90
4   40    4.80

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.20, random_state=1 )

In [32]:
xtest.head()

   age  height
2   30     5.6
9   32     5.6

In [33]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(weights='distance')

In [34]:
neigh.fit(xtrain, ytrain)

KNeighborsRegressor(weights='distance')

In [35]:
neigh.predict(xtest)

array([[55.69310834],
       [59.09572862]])

In [36]:
neigh.predict([[30, 5.5]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

AttributeError: ignored

In [ ]:
xtrain.shape

In [ ]:
xtest.shape

In [ ]:
xtrain

In [ ]:
neigh.kneighbors(return_distance=True)

In [ ]:
neigh.kneighbors(x, return_distance=True)

In [ ]:
neigh.kneighbors(xtest,n_neighbors=2, return_distance=True)

In [ ]:
xtest

In [ ]:
neigh.predict(xtest)