In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as pyplot
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/insurance.csv')

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.isnull().sum() # Checking if there any NUll

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()
df8 = df.copy()
df9 = df.copy()
df10 = df.copy()

In [6]:
#Label Encoder

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [11]:
# Loop through all columns and transform categorical value to numeric by using fit_transform method in label encding
for i in df.columns:
  if df[i].dtype == 'object':
    df[i] = le.fit_transform(df[i])

In [12]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [13]:
#Another way to loop through the columns

from pandas.core.dtypes.common import is_numeric_dtype
for col in df1.columns:
    if is_numeric_dtype(df1[col]):
        continue
    df1[col]=le.fit_transform(df1[col])

In [14]:
df1.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [15]:
df.nunique() # Checking number of unique values in a particular column

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

In [26]:
df2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [27]:
# Checking the numerical value for the corresponding categorical value
data = {'Sex(categorical)': df2.sex.values, 'Sex(Numerical)': df1.sex.values}
pd.DataFrame(data).head()

  Sex(categorical)  Sex(Numerical)
0           female               0
1             male               1
2             male               1
3             male               1
4             male               1

In [75]:
# One hot encoding

df6.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [76]:
dummy = [i for i in df6.columns if df6[i].dtype == 'object'] # storing all numeric value

In [77]:
dummy

['sex', 'smoker', 'region']

In [78]:
# Loop through all categorical columns to transform the value in numeric using ONE HOT ENCODING
for col in dummy:
  dummy_1 = pd.get_dummies(df6[col], drop_first=True) # get dummies method transfer data into numeric , to drop one dummy column we use drop_first attribute
  # df6.drop(df6[[col]], axis = 1,inplace=True)
  df6 = pd.concat([df6, dummy_1], axis=1) # concat the output into our dataframe

In [79]:
df6.head()

,age,sex,bmi,children,smoker,region,charges,male,yes,northwest,southeast,southwest
0,19,female,27.900,0,yes,southwest,16884.92400,0,1,0,0,1
1,18,male,33.770,1,no,southeast,1725.55230,1,0,0,1,0
2,28,male,33.000,3,no,southeast,4449.46200,1,0,0,1,0
3,33,male,22.705,0,no,northwest,21984.47061,1,0,1,0,0
4,32,male,28.880,0,no,northwest,3866.85520,1,0,1,0,0

In [80]:
from sklearn.preprocessing import OrdinalEncoder

In [89]:
order = [i for i in df7.columns if df7[i].dtype == 'object']
new_order = [j for j in df7[order].values]

In [90]:
new_order

[array(['female', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'yes', 'northwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'northwest'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'yes', 'southeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'northwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'no', 'southwest'], dtype=object),
 array(['female', 'yes', 'southwest'], dtype=object),
 array(['female', 'no', 'southwest'], dtype=object),
 array(['female', 'no', 'southeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['female', 'no', 'northeast'], dtype=object),
 array(['male', 'yes', 'southwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'northwest'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'southeast'], dtype=object),
 array(['female', 'no', 'northwest'], dtype=object),
 array(['male', 'no', 'southeast'], dtype=object),
 array(['female', 'yes', 'northeast'], dtype=object),
 array(['male', 'yes', 'northeast'], dtype=object),

In [101]:
# Looping through all categorical column and convert it to numeric using Ordinal Encoding
for j in order:
  order_1  = df7[j].unique()
  ordinal = OrdinalEncoder(categories=[order_1])
  encoded = ordinal.fit_transform(df7[[j]])
  df7[j] = encoded

In [102]:
df7.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520