In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('/content/drive/MyDrive/supershops.csv')

In [81]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [82]:
x = df.drop('Profit', axis =1) # we don't want to scaling Profit
y = df.Profit

In [83]:
# import data processing module from sklearn.preprocessing

from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler
scaler = StandardScaler()
mm_scaler = MinMaxScaler()
ma_scaler = MaxAbsScaler()
rb_scaler = RobustScaler()

In [84]:
df.columns = [c.replace(' ', '_') for c in df.columns] # place '_' instead of 'space' in column name (with_profit_column)

In [85]:
x.columns = [c.replace(' ', '_') for c in x.columns] # place '_' instead of 'space' in column name (without_profit_column)
x.columns

Index(['Marketing_Spend', 'Administration', 'Transport', 'Area'], dtype='object')

In [86]:
# Function to perform Scaling on each Column

def featureScaling(name):
    for i in x.columns:
      if x.loc[:,i].dtypes != 'object' :
        print(df.loc[:,i].dtypes)
        scaled = name.fit_transform(df[[i]])
        x[[i]] = scaled

In [87]:
# Standardization

featureScaling(scaler)

float64
float64
float64

In [88]:
x.assign(Profit = y).head() # add profit column on the table again

   Marketing_Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

In [89]:
# Standardization_EQN = {each_column_value(Transport) - column_mean}/standard_deviation

ss = 	(471784.10-scaler.mean_)/scaler.scale_ 
ss

array([2.1652875])

In [90]:
# Normalization

featureScaling(mm_scaler)

float64
float64
float64

In [91]:
x.assign(Profit = y).head() # add profit column on the table again

   Marketing_Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

In [92]:
# Normalization_EQN = (each_column_value(Transport) - column_min_value) / (column_max_value - column_min_value)

mm = (471784.10 - mm_scaler.data_min_) / (mm_scaler.data_max_ - mm_scaler.data_min_)
mm

array([1.])

In [93]:
# Maximum Absolute Scaler

featureScaling(ma_scaler)

float64
float64
float64

In [94]:
x.assign(Profit = y).head()

   Marketing_Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

In [95]:
# Max_Absolute_EQN = each_column_value(Transport) / Per_column_Max_absolute_value

ma = 471784.10 / ma_scaler.max_abs_
ma

array([1.])

In [96]:
# Robust Scaler

featureScaling(rb_scaler)

float64
float64
float64

In [97]:
x.assign(Profit = y).head()

   Marketing_Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94

In [98]:
# Robust_Scaler_EQN = (feature_value - feature_Median_value)/(interquartile_range)

rb = (471784.10 - rb_scaler.center_) / (rb_scaler.scale_)
rb

array([1.55201644])